
.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f3f3f3;
  border-radius: 4px;
  border-bottom: 4px solid #e6a500; /* golden yellow */
  padding: 0.5rem 1rem;
}

.section-btn {
 
  border: 1px solid gray;
  border-radius: 8px;
  padding: 6px 10px;
  width: 50px;    
  text-decoration: none;

  height: 40px;
  transition: all 0.4s ease;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-end; 
  overflow: hidden;
  white-space: nowrap;
  color: black;
}

.btn-icon {
  font-size: 24px;
  flex-shrink: 0;
}

.btn-text {
  margin-left: 8px;
  margin-bottom: 10px;
  opacity: 0;
  transform: translateX(-10px);
  transition: all 0.4s ease;
}


.section-btn:hover {
  width: 120px; 

}

.section-btn:hover .btn-text {
  opacity: 1;
  transform: translateX(0);
}


.section-title {
  font-size: 22px;
  font-weight: bold;
  margin: 0;
  text-align: right;
  flex-grow: 1;
}

@media (max-width: 600px) {
  .section-header {
  width: 90%;
  }

  .section-title {
    font-size: 18px;
    text-align: right;
  }

  .section-btn {
    font-size: 14px;
    padding: 0.2rem 0.4rem;
  }
}
