.card {
width: 420px;
 background-color:rgba(245, 245, 220, 0.24); 
  border-radius:4px;
  padding: 5px 10px;
  overflow: hidden;

  font-family: "Noto Nastaliq Urdu", serif;
  direction: rtl;
 
}





/* Header */
.card-header {
  display: flex;
  gap: 25px;

  align-items: center;
    direction: rtl;
  font-weight: bold;
  color: #000;
  border-bottom: 4px solid  #f4ac04 ;
   border-bottom-right-radius:6px;
    border-bottom-left-radius:4px;
}

.category {
  font-size: 18px;

}
.icon-container {
  background-color: #f4ac04 ;
  display: flex;
  justify-content: center;
  align-items: center;     
  width: 60px;           
  height: 50px; 
 border-top-right-radius : 4px  ;   
 
 
}

.card-image{
padding: 10px  0 10px 0;

}
        .card-image img {
            width: 100%;
            border-radius: 8px;
            display: block;
            transition: transform 0.5s ease;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        }

        

/* Content */
.card-content  {
  min-height: 100px;
  padding: 5px 10px;
  font-size: 16px;
  line-height: 1.6;
  text-align: start;
border-radius: 4px;
  background-color: #000;
  margin-bottom: 10px;
  color:white;
  font-size: 18px;
  font-weight: bolder;
    word-spacing: 2px;
      text-align: right;
    letter-spacing: 5px;

}


.card-content h3 {
  margin: 10px 0;
  font-size: 20px;
  color:white ;
  font-weight: bold;
    text-align: right;
}




/* Footer */
.card-footer {
  display: flex;
  gap: 20px;
  padding: 8px 12px;
  font-size: 10px;
  color:whitesmoke;
}

.footer-item {
  display: flex;
  align-items: center;
  gap: 4px;
}


@media (max-width:750px) {
  .card{
    width: 85%;
     
  }
}